body{
  
  background-image: url(./y-so-serious/y-so-serious.png);

  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;

  
  padding-top: 90px;
}

button {
  margin: 1em;
}

.navbar {
  background-color: #9e5506;  
  color: #000000;  
  
  padding-bottom: 0;

  
  padding-left: 0;

  
  border-bottom: solid;
  border-bottom-color: rgb(0, 0, 0);
  width: 100%;
}

#navbar-title {
  padding: 15px;
  font-size: 30px;
  color: rgb(0, 0, 0) !important; 
}


.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.nav-link {
  text-decoration: none;
  
}


.nav-link:hover {

  background-color: #e2cfb6;  
 
  color: #666;
}

.right {
 
}

#details {
  
  background-color: #f0d18f;  
  margin-top: 20px;
  margin-bottom: 80px;

 
  padding: 40px;
} 
 

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #897d9a;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5;
  list-style-type: none;
}

li:hover {
  background-color: #9e9268;
}

#answer-image {
  float: left;
  padding-right: 1em;
  padding-top: 0.25em;
}

#startQuiz{

}

.footer {
  
  background-color:#9e5506;
  
  
  height: 10%;
  
 
  border-top: solid;
  border-top-color: #000000;  
  border-top-width: 8px;
}

.footer-text {
 
  width: 100%;
  text-align: center;

  font-size: 10px;
  color:rgb(0, 0, 0); 
}


@media (max-width: 768px) {
  .container-fluid {
    
    padding-left: 0;
    padding-right: 0;
  }


  li {
    border-right: none;
  }


  .nav-link{
    padding: 1px;
  }
}